# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
gradlew
gradlew.bat
LICENSE-Paulscode IBXM Library.txt
LICENSE-Paulscode SoundSystem CodecIBXM.txt
LICENSE.txt
mc_assets
CREDITS.txt
forge-1.12.2-14.23.4.2739-changelog.txt
Setup.bat
gradle
gradle.properties
README.txt
src - Copy
src/api
src/main/java/com/maelstrom/geneticist